@import 'node_modules/bootstrap/scss/bootstrap';
.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  a {
    color: #999;
    transition: ease-in-out color 0.15s;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
